.toggle_button:not(:last-child) {
    margin-right: 100px;
}

.toggle_button_active {
    position: relative;
}

.toggle_button_active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 25px;
    background: #181818;
}